<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My Friends</title>
        <!-- linking a css style sheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
        <!-- Linking Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
            <div class="my_friends">
                <h1>These are my friends!</h1>
                <h3 style=color:blue>{{data}}</h3>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Occupation</th>
                    </tr>
                    {% for row in friends %}
                        <tr>
                        {% for d in row %}
                            <td>{{ row[d] }}</td>
                        {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="add_a_friend">
                <h1><u>Add a friend</u></h1>
                <form action='/create_friend' method='post'>
                    <div class="form-row">
                        <div class="col-6">
                            <label for="first_name">First name:</label>
                            <input type="text" class="form-control" name="first_name" placeholder="Dale">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                                <label for="last_name">Last name:</label>
                            <input type="text" class="form-control" name="last_name" placeholder="Gribble">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-6">
                                <label for="occupation">Occupation:</label>
                            <input type="text" class="form-control" name="occupation" placeholder="Exterminator">
                        </div>
                    </div>
                    <button type="submit" name="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </body>
</html>